- form = local_assigns.fetch(:form)

.form-group
  .checkbox.builds-feature{ class: ("hidden" if @project && @project.project_feature.send(:builds_access_level) == 0) }
    = form.label :only_allow_merge_if_pipeline_succeeds do
      = form.check_box :only_allow_merge_if_pipeline_succeeds
      %strong Only allow merge requests to be merged if the pipeline succeeds
      %br
      %span.descr
        Pipelines need to be configured to enable this feature.
        = link_to icon('question-circle'), help_page_path('user/project/merge_requests/merge_when_pipeline_succeeds', anchor: 'only-allow-merge-requests-to-be-merged-if-the-pipeline-succeeds')
  .checkbox
    = form.label :only_allow_merge_if_all_discussions_are_resolved do
      = form.check_box :only_allow_merge_if_all_discussions_are_resolved
      %strong Only allow merge requests to be merged if all discussions are resolved
  .checkbox
    = form.label :printing_merge_request_link_enabled do
      = form.check_box :printing_merge_request_link_enabled
      %strong Show link to create/view merge request when pushing from the command line
